@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700;1,800&display=swap');
.menu{
    padding-top: 16px;
}
.logo{
    margin-left: 16px;
    float: left;
}

.perfil{
    width: 45px;
    height: 45px;
    background-image: url(../Assets/Dashboard/Perfil.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-right: 32px;
    margin-top: 8px;
    border-radius: 50px;
}

.notifica{
    width: 45px;
    height: 45px;
    background-color: #D3E2EE;
    float: right;
    margin-right: 16px;
    margin-top: 8px;
    border-radius: 50px;
    background-image: url(../Assets/Dashboard/sino.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.clear{
    clear: both;
}



.container{
    width: 90%;
    padding: 32px;
    padding-bottom: 0;
    padding-top: 16px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.card{
    width: 249px;
    margin-right: 32px;
    margin-bottom: 32px;
    height: 180px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    float: left;
    transition: .4s;
    
}

.card p{
    font-size: 20px;
    line-height: 22px;
    color: #161616;
}


.perguntas{
    background-image: url(../Assets/Dashboard/pergunta.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 16px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.produtos{
    background-image: url(../Assets/Dashboard/Produtos.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 16px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.chat{
    background-image: url(../Assets/Dashboard/Chat.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 32px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.departa{
    background-image: url(../Assets/Dashboard/departa.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 32px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.relato{
    background-image: url(../Assets/Dashboard/relato.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 32px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.config{
    background-image: url(../Assets/Dashboard/config.png); 
    height: 70px;
    margin: 0 auto;
    margin-bottom: 32px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card:hover{
    background-color: #F5F8FF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.container p{
    text-align: center;
    font-size: 15px;
}

.if{
    width: min-content;
    margin: 0 auto;
    margin-top: 8px;
}

.para{
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
